{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}

{% if message  %}
  <center><div class="message-box" style="margin: 0px;">
    <div class="message-content">
      <p>{{ message }}</p></div>
  </div></center>
{% endif %}
<section class="flexboxes">
    <div class="box">
        <i class='bx bx-chip icon' style="font-size: 2em;left:0;"></i>
      <h3>CPU</h3>
      <p>{{ cpu }}%</p>
      
    </div>
    <div class="box">
        <i class='bx bxs-microchip icon' style="font-size: 2em;left:0;"></i>
      <h3>RAM</h3>
      <p>{{ ram }} MB</p>
    </div>
    <div class="box">
        <i class='bx bxs-hdd icon' style="font-size: 2em;left:0;"></i>
      <h3>DISK</h3>
      <p>{{ disk }} MB</p>
    </div>
    <div class="box">
        <i class='bx bxs-server icon' style="font-size: 2em;left:0;"></i>
      <h3>SERVERS</h3>
      <p>{{ servers }}</p>
    </div>
    <div class="box">
        <i class='bx bxs-server icon' style="font-size: 2em;left:0;"></i>
      <h3>BACKUPS</h3>
      <p>{{ backups }}</p>
    </div>
    <div class="box">
        <i class='bx bxs-server icon' style="font-size: 2em;left:0;"></i>
      <h3>DATABASES</h3>
      <p>{{ databases }}</p>
    </div>
    <div class="box">
        <i class='bx bxs-server icon' style="font-size: 2em;left:0;"></i>
      <h3>PORTS</h3>
      <p>{{ ports }}</p>
    </div>
</section>
{% endblock %}
